<title>REFRESH ADVANCE AUTHORIZATION</title>

<h1>REFRESH_ADVANCE_AUTHORIZATION-TEST</h1>

<% if obj_res == nil %>
	<% if load_msg != 'OK' %>
		<pre><%= load_msg %></pre>
	<% end %>
	<pre>You don't have a valid refresh_token of advance authorization, please click <a href="/getAdvanceAuthorization">here</a></pre>
<% else %>
	<% save_msg = obj_res['msg'] %>
	<% obj_res = { 'access_token' => obj_res['access_token'], 'refresh_token' => obj_res['refresh_token'] } %>
	<% if save_msg != 'OK' %>
		<pre><%= save_msg %></pre>
	<% else %>
		<pre>this tokens save in ../session file</pre>
	<% end %>
	<h4 style="margin-bottom: -18px;">DATA_RESPONSE</h4>
	<pre>---
	<% obj_res.sort.each do |k, v| %>
		<% if k == "access_token" || k == "refresh_token" %>
<%= k %>:
<textarea style="width: 1260px; height: 211px; resize: none;" readonly><%= v %></textarea>
		<% else %>
			<% if v.class == Hash %>
<%= k %>: 
				<% v.sort.each do |ki, vi| %>
  <%= ki %>: <%= vi %>
				<% end %>
			<% else %>
<%= k %>: <%= v %>		
			<% end %>
		<% end %>
    <% end %>
	</pre>
<% end %>

</br></br>---</br>
<a href="/">Back</a>